{{#amagami-hero as |sections|}}
  {{#if sections.isTitle}}
    <h1 class='amagami-hero__main-title'>Amagami Challenge</h1>
    <h2 class='amagami-hero__subtitle'>sae v. 2017</h2>
  {{else if sections.isDetails}}
    <h4 class='amagami-hero__bullet-title'>The Goal</h4>
    <p class='amagami-hero__bullet-detail'>Find a girlfriend by date</p>
    <h4 class='amagami-hero__bullet-title'>The Penalty</h4>
    <p class='amagami-hero__bullet-detail'>Sit on bench and die</p>
    <h4 class='amagami-hero__bullet-title'>Why take the challenge</h4>
    <p class='amagami-hero__bullet-detail'>seiren 2017</p>
    <h4 class='amagami-hero__bullet-title'>Conditions</h4>
    <p class='amagami-hero__bullet-detail'>get a 3dpd gf</p>
    <h4 class='amagami-hero__bullet-title'>Resources</h4>
    <p class='amagami-hero__bullet-detail'>Some links here</p>
  {{/if}}
{{/amagami-hero}}

{{#amagami-right-image-slide as |sections|}}
  {{#if sections.isTitle}}
    <h3 class='amagami-right-image-slide__header'>Goal Details</h3>
  {{else if sections.isText}}
    <ul class='amagami-right-image-slide__list'>
      <li class='amagami-right-image-slide__list-member'>
        something: whatever
      </li>
      <li class='amagami-right-image-slide__list-member'>
        something: whatever
      </li>
      <li class='amagami-right-image-slide__list-member'>
        something: whatever
      </li>
    </ul>
  {{else if sections.isImage}}
    <img class='amagami-right-image-slide__image' src='assets/images/sae.jpg'>
  {{/if}}
{{/amagami-right-image-slide}}

{{#amagami-left-image-slide as |sections|}}
  {{#if sections.isTitle}}
    <h3 class='amagami-left-image-slide__header'>Penalty Details</h3>
  {{else if sections.isText}}
    <ul class='amagami-left-image-slide__list'>
      <li class='amagami-left-image-slide__list-member'>
        something: whatever
      </li>
      <li class='amagami-left-image-slide__list-member'>
        something: whatever
      </li>
      <li class='amagami-left-image-slide__list-member'>
        something: whatever
      </li>
    </ul>
  {{else if sections.isImage}}
    <img class='amagami-left-image-slide__image' src='assets/images/ai.jpg'>
  {{/if}}
{{/amagami-left-image-slide}}

{{#amagami-small-hero as |sections|}}
  {{#if sections.isTitle}}
    <h1 class='amagami-small-hero__main-title'>Why?</h1>
    <h2 class='amagami-small-hero__subtitle'>To discover a better part of yourself</h2>
  {{else if sections.isCTA}}
    <button class='amagami-small-hero__cta-ghost-btn'>
      Accept the Challenge
    </button>
  {{/if}}
{{/amagami-small-hero}}


{{#amagami-double-text-slide as |slide sections|}}
  {{#if sections.isLeft}}
    {{#slide.title}}Conditions{{/slide.title}}

    {{#slide.bullet}}If you whatever{{/slide.bullet}}
  {{else}}
    {{#slide.title}}Conditions{{/slide.title}}

    {{#slide.bullet}}If you whatever{{/slide.bullet}}
  {{/if}}
{{/amagami-double-text-slide}}
