{{#amagami-hero as |sections|}}
  {{#if sections.isTitle}}
    <h1 class='amagami-hero__main-title'>Amagami Challenge</h1>
    <h2 class='amagami-hero__subtitle'>sae v. 2017</h2>
  {{else if sections.isDetails}}
    <h4 class='amagami-hero__bullet-title'>The Goal</h4>
    <p class='amagami-hero__bullet-detail'>Find a girlfriend by date</p>
    <h4 class='amagami-hero__bullet-title'>The Penalty</h4>
    <p class='amagami-hero__bullet-detail'>Sit on bench and die</p>
    <h4 class='amagami-hero__bullet-title'>Why take the challenge</h4>
    <p class='amagami-hero__bullet-detail'>seiren 2017</p>
    <h4 class='amagami-hero__bullet-title'>Conditions</h4>
    <p class='amagami-hero__bullet-detail'>get a 3dpd gf</p>
    <h4 class='amagami-hero__bullet-title'>Resources</h4>
    <p class='amagami-hero__bullet-detail'>Some links here</p>
  {{/if}}
{{/amagami-hero}}

{{#amagami-bullet-image-slide as |slide sections|}}
  {{#if sections.isText}}
    {{#slide.title}}Goal Details - Sae{{/slide.title}}
  {{else if sections.isBullets}}
    {{#slide.bullet}}something: whatever{{/slide.bullet}}
  {{else if sections.isImage}}
    {{slide.image src='images/sae.jpg'}}
  {{/if}}
{{/amagami-bullet-image-slide}}

{{#amagami-duality-slide as |slide sections|}}
  {{#if sections.isLeft}}
    {{slide.image src='images/whatever.jpg'}}
  {{else}}
    {{#slide.paragraph}}
      Penalty Detail
      Stuff goes here
    {{/slide.paragraph}}
  {{/if}}
{{/amagami-duality-slide}}

{{#amagami-call-to-action as |cta sections|}}
  {{#if sections.isPrompt}}
    {{#cta.title}}Why?{{/cta.title}}
  {{else if sections.isTagline}}
    {{#cta.text}}Some text here{{/cta.text}}
  {{else}}
    {{#cta.button}}
      Accept the Challenge
    {{/cta.button}}
  {{/if}}
{{/amagami-call-to-action}}

{{#amagami-double-text-slide as |slide sections|}}
  {{#if sections.isLeft}}
    {{#slide.title}}Conditions{{/slide.title}}

    {{#slide.bullet}}If you whatever{{/slide.bullet}}
  {{else}}
    {{#slide.title}}Conditions{{/slide.title}}

    {{#slide.bullet}}If you whatever{{/slide.bullet}}
  {{/if}}
{{/amagami-double-text-slide}}
